# An example .env with names and variables 
# you can replace in order to use my docker compose file correctly.

MDB_ROOT_PASSWORD=putrootpswd
MDB_USER=putusr
MDB_PASSWORD=putpswd
MDB_DATABASE=putdb
DBHOST=puthost
WPAD_USER=putwpadusr
WPAD_EMAIL=putwpademail
WPAD_PASSWORD=putwpadpswd
ZWEIER_PASSWORD=putzweierpswd